[submodule "Tools"]
	path = Tools
	url = git@bitbucket.org:uprev/tools.git
[submodule "Test"]
	path = Test
	url = git@bitbucket.org:uprev/test.git
[submodule "Modules/Platforms/Common"]
	path = Modules/Platforms/Common
	url = git@bitbucket.org:uprev/platform-common.git
[submodule "Modules/Utilities/Fifo"]
	path = Modules/Utilities/Fifo
	url = git@bitbucket.org:uprev/utility-fifo.git
[submodule "Modules/Devices/Eeprom"]
	path = Modules/Devices/Eeprom
	url = git@bitbucket.org:uprev/device-eeprom.git
[submodule "Modules/Devices/RegDevice"]
	path = Modules/Devices/RegDevice
	url = git@bitbucket.org:uprev/device-regdevice.git
[submodule "Modules/Utilities/Blob"]
	path = Modules/Utilities/Blob
	url = git@bitbucket.org:uprev/utility-blob.git
[submodule "Modules/Utilities/PolyPacket"]
	path = Modules/Utilities/PolyPacket
	url = git@bitbucket.org:uprev/utility-polypacket.git
[submodule "Modules/Devices/Displays/ErcMonoLcd"]
	path = Modules/Devices/Displays/ErcMonoLcd
	url = git@bitbucket.org:uprev/device-ercxxlcd.git
[submodule "Modules/Utilities/MessageSpool"]
	path = Modules/Utilities/MessageSpool
	url = git@bitbucket.org:uprev/utility-messagespool.git
[submodule "Modules/Platforms/STM32"]
	path = Modules/Platforms/STM32
	url = git@bitbucket.org:uprev/platform-stm32.git
[submodule "Modules/Platforms/Atmel"]
	path = Modules/Platforms/Atmel
	url = git@bitbucket.org:uprev/platform-atmel.git