[submodule "Modules/Platforms/Common"]
	path = Modules/Platforms/Common
	url = https://bitbucket.org/uprev/platform-common.git
[submodule "Test"]
	path = Test
	url = https://bitbucket.org/uprev/test.git
[submodule "Modules/Utilities/Fifo"]
	path = Modules/Utilities/Fifo
	url = https://bitbucket.org/uprev/utility-fifo.git
[submodule "Modules/Devices/RegDevice"]
	path = Modules/Devices/RegDevice
	url = https://bitbucket.org/uprev/device-regdevice.git
[submodule "Modules/Utilities/PolyPacket"]
	path = Modules/Utilities/PolyPacket
	url = https://bitbucket.org/uprev/utility-polypacket.git
[submodule "Modules/Devices/Displays/ErcMonoLcd"]
	path = Modules/Devices/Displays/ErcMonoLcd
	url = https://bitbucket.org/uprev/device-ercxxlcd.git
[submodule "Modules/Platforms/STM32"]
	path = Modules/Platforms/STM32
	url = https://bitbucket.org/uprev/platform-stm32.git
[submodule "Modules/Platforms/Atmel"]
	path = Modules/Platforms/Atmel
	url = https://bitbucket.org/uprev/platform-atmel.git
[submodule "Modules/Devices/Sensors/LSM6D"]
	path = Modules/Devices/Sensors/LSM6D
	url = https://bitbucket.org/uprev/device-lsm6d.git
[submodule "Modules/Devices/FPGA/Spartan6"]
	path = Modules/Devices/FPGA/Spartan6
	url = https://bitbucket.org/uprev/device-spartan6.git
[submodule "Modules/Devices/Memory/SpiFlash"]
	path = Modules/Devices/Memory/SpiFlash
	url = https://bitbucket.org/uprev/device-spiflash.git
[submodule "Modules/Devices/Memory/Eeprom"]
	path = Modules/Devices/Memory/Eeprom
	url = https://bitbucket.org/uprev/device-eeprom.git
[submodule "Modules/Devices/Displays/TriColorE-Ink"]
	path = Modules/Devices/Displays/TriColorE-Ink
	url = https://bitbucket.org/uprev/device-eink_tri.git
[submodule "Modules/Utilities/GFX/MonoGfx"]
	path = Modules/Utilities/GFX/MonoGfx
	url = https://bitbucket.org/uprev/utilities-monogfx.git
[submodule "Modules/Devices/Power/BQ28Z"]
	path = Modules/Devices/Power/BQ28Z
	url = https://bitbucket.org/uprev/device-bq28zxxx.git
[submodule "Modules/Utilities/JSON"]
	path = Modules/Utilities/JSON
	url = https://bitbucket.org/uprev/utility-json.git
[submodule "Modules/Platforms/ESP32"]
	path = Modules/Platforms/ESP32
	url = https://bitbucket.org/uprev/platform-esp32.git
[submodule "Modules/Platforms/Linux"]
	path = Modules/Platforms/Linux
	url = https://bitbucket.org/uprev/platform-linux.git
[submodule "Modules/Utilities/COBS"]
	path = Modules/Utilities/COBS
	url = https://bitbucket.org/uprev/utility-cobs.git
[submodule "Modules/Devices/Sensors/HTS221"]
	path = Modules/Devices/Sensors/HTS221
	url = https://bitbucket.org/uprev/device-hts221.git
[submodule "Modules/Utilities/Audio/xCoder"]
	path = Modules/Utilities/Audio/xCoder
	url = https://bitbucket.org/uprev/utility-AudioXcoder.git
[submodule "Modules/Utilities/Audio/TestData"]
	path = Modules/Utilities/Audio/TestData
	url = https://bitbucket.org/uprev/utility-audio-test.git
[submodule "Modules/Devices/RF/Nrf24"]
	path = Modules/Devices/RF/Nrf24
	url = https://bitbucket.org/uprev/device-nrf24.git
[submodule "Modules/Devices/Audio/WM8731"]
	path = Modules/Devices/Audio/WM8731
	url = https://bitbucket.org/uprev/device-wm8731.git

[submodule "Modules/Devices/Power/STC3117"]
	path = Modules/Devices/Power/STC3117
	url = https://bitbucket.org/uprev/device-stc3117.git
[submodule "Modules/Devices/Sensors/SHT31"]
	path = Modules/Devices/Sensors/SHT31
	url = https://bitbucket.org/uprev/device-sht31.git
[submodule "Modules/Devices/Sensors/LIS2DH12"]
	path = Modules/Devices/Sensors/LIS2DH12
	url = https://bitbucket.org/uprev/device-lis2dh12.git
[submodule "Modules/Utilities/Interfaces/GattServer"]
	path = Modules/Utilities/Interfaces/GattServer
	url = https://bitbucket.org/uprev/device-gatt-server.git
[submodule "Modules/Devices/Sensors/VL53L0x"]
	path = Modules/Devices/Sensors/VL53L0x
	url = https://bitbucket.org/uprev/device-vl53l0x.git
[submodule "Modules/Devices/MotorDrivers/STSPIN220"]
	path = Modules/Devices/MotorDrivers/STSPIN220
	url = https://bitbucket.org/uprev/device-stspin220.git
