[submodule "Modules/Utilities/Fifo"]
	path = Modules/Utilities/Fifo
	url = git@bitbucket.org:uprev/utility-fifo.git
[submodule "Modules/Platforms/Stm32_HAL"]
	path = Modules/Platforms/Stm32_HAL
	url = git@bitbucket.org:uprev/platform-stm32_hal.git
[submodule "Modules/Platforms/AtmelStart"]
	path = Modules/Platforms/AtmelStart
	url = git@bitbucket.org:uprev/platform-atmelstart.git
[submodule "Modules/Devices/Eeprom"]
	path = Modules/Devices/Eeprom
	url = git@bitbucket.org:uprev/device-eeprom.git
[submodule "Modules/Devices/RegDevice"]
	path = Modules/Devices/RegDevice
	url = git@bitbucket.org:uprev/device-regdevice.git
[submodule "Modules/Utilities/Blob"]
	path = Modules/Utilities/Blob
	url = git@bitbucket.org:uprev/utility-blob.git
